@charset "utf-8";
/* CSS Document */

<!-- CSS goes in the document HEAD or added to your external stylesheet -->
<style type="text/css">
table.listing {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #a9c6c9;
	border-collapse: collapse;
}
table.listing th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.listing td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.listing { box-shadow: 4px 4px 4px #999; }

  table.listing {
    margin-left:auto; 
    margin-right:auto;
  }

.oddrowcolor{
	background-color:#d4e3e5;
}
.evenrowcolor{
	background-color:#c3dde0;
}
</style>

